Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [ ]:
 #from google.colab import drive
 #drive.mount('/content/drive')

#from google.colab import files
# uploades = files.upload()

In [5]:
heart_data=pd.read_csv("/content/1645792390_cep1_dataset (1) (1).csv")
heart_data.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [ ]:
 #loading the csv data to a Pandas DataFrame
# heart_data = pd.read_csv('/content/data.csv')

In [6]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [7]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [8]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [9]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [10]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [11]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [12]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [13]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(X)

StandardScaler()

In [ ]:
# scaler.fit(X)

In [16]:
 standardized_data = scaler.transform(X)

In [17]:
X = standardized_data
Y = heart_data['target']

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [19]:
X_train

array([[-0.04040284,  0.68100522,  0.03203122, ...,  0.97635214,
        -0.71442887,  1.12302895],
       [ 2.49624017,  0.68100522, -0.93851463, ...,  0.97635214,
         2.22410436, -0.51292188],
       [ 0.18017482,  0.68100522,  0.03203122, ..., -2.27457861,
        -0.71442887, -0.51292188],
       ...,
       [ 1.50364073,  0.68100522, -0.93851463, ..., -0.64911323,
         1.24459328,  1.12302895],
       [ 0.62133012,  0.68100522,  1.00257707, ..., -0.64911323,
        -0.71442887, -0.51292188],
       [-0.59184697, -1.46841752,  0.03203122, ..., -0.64911323,
        -0.71442887, -0.51292188]])

In [20]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

def print_score(clf, X_train, Y_train, X_test, Y_test, train=True):
    if train:
        pred = clf.predict(X_train)
        clf_report = pd.DataFrame(classification_report(Y_train, pred, output_dict=True))
        print("Train Result:\n================================================")
        print(f"Accuracy Score: {accuracy_score(Y_train, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(Y_train, pred)}\n")
        
    elif train==False:
        pred = clf.predict(X_test)
        clf_report = pd.DataFrame(classification_report(Y_test, pred, output_dict=True))
        print("Test Result:\n================================================")        
        print(f"Accuracy Score: {accuracy_score(Y_test, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(Y_test, pred)}\n")

In [22]:
from sklearn.model_selection import GridSearchCV

params = {"C": np.logspace(-4, 4, 20),
          "solver": ["liblinear"],
          "penalty":["l1","l2"] }

lr_clf = LogisticRegression()

lr_cv = GridSearchCV(lr_clf, params, scoring="accuracy", n_jobs=-1, verbose=1, cv=5)
lr_cv.fit(X_train, Y_train)
best_params = lr_cv.best_params_
print(f"Best parameters: {best_params}")
lr_clf = LogisticRegression(**best_params)

lr_clf.fit(X_train, Y_train)

print_score(lr_clf, X_train, Y_train, X_test, Y_test, train=True)
print_score(lr_clf, X_train, Y_train, X_test, Y_test, train=False)

Fitting 5 folds for each of 40 candidates, totalling 200 fits
Best parameters: {'C': 0.012742749857031334, 'penalty': 'l2', 'solver': 'liblinear'}
Train Result:
================================================
Accuracy Score: 83.88%
_______________________________________________
CLASSIFICATION REPORT:
                    0           1  accuracy   macro avg  weighted avg
precision    0.873684    0.816327  0.838843    0.845005      0.842398
recall       0.754545    0.909091  0.838843    0.831818      0.838843
f1-score     0.809756    0.860215  0.838843    0.834986      0.837279
support    110.000000  132.000000  0.838843  242.000000    242.000000
_______________________________________________
Confusion Matrix:
 [[ 83  27]
 [ 12 120]]

Test Result:
================================================
Accuracy Score: 81.97%
_______________________________________________
CLASSIFICATION REPORT:
                   0          1  accuracy  macro avg  weighted avg
precision   0.814815   0.823529  0.819672   0.819172      0.819529
recall      0.785714   0.848485  0.819672   0.817100      0.819672
f1-score    0.800000   0.835821  0.819672   0.817910      0.819379
support    28.000000  33.000000  0.819672  61.000000     61.000000
_______________________________________________
Confusion Matrix:
 [[22  6]
 [ 5 28]]

In [23]:
test_score = accuracy_score(Y_test, lr_clf.predict(X_test)) * 100
train_score = accuracy_score(Y_train, lr_clf.predict(X_train)) * 100

tuning_results_df = pd.DataFrame(data=[["Tuned Logistic Regression", train_score, test_score]], 
                          columns=['Model', 'Training Accuracy %', 'Testing Accuracy %'])
tuning_results_df

                       Model  Training Accuracy %  Testing Accuracy %
0  Tuned Logistic Regression            83.884298           81.967213

In [24]:
## Explanation

1 --> Defective Heart

0 --> Healthy Heart

## **CHECK THE MODEL **

In [41]:
input_data = (57,0,0,140,241,0,1,123,1,0.2,1,0,3)  # 63	1	3	145	233	1	0	150	0	2.3	0	0	1               # target = 0 # ROW = 0

In [42]:
# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

In [43]:
# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [44]:
# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

[[ 0.29046364 -1.46841752 -0.93851463  0.47839125 -0.10172985 -0.41763453
   0.89896224 -1.16528085  1.43548113 -0.7243226  -0.64911323 -0.71442887
   1.12302895]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [45]:
prediction = lr_clf.predict(std_data)  ## target = 0
print(prediction)

[0]

In [39]:
if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

The Person does not have a Heart Disease

In [40]:
Y_pred_prob=lr_clf.predict_proba(std_data)[:,:]                                                                      # this will predict the probability of each class
Y_pred_prob_df=pd.DataFrame(data=Y_pred_prob, columns=['Prob of no heart disease (0)','Prob of Heart Disease (1)'])
Y_pred_prob_df.head()

   Prob of no heart disease (0)  Prob of Heart Disease (1)
0                      0.610494                   0.389506

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
n_estimators = [500, 900, 1100, 1500]
max_features = ['auto', 'sqrt']
max_depth = [2, 3, 5, 10, 15, None]
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]

params_grid = {
    'n_estimators': n_estimators, 
    'max_features': max_features,
    'max_depth': max_depth, 
    'min_samples_split': min_samples_split,
    'min_samples_leaf': min_samples_leaf}

In [ ]:
 rf_clf = RandomForestClassifier(random_state=42)
 rf_cv = GridSearchCV(rf_clf, params_grid, scoring="accuracy", cv=3, verbose=1, n_jobs=-1)
 rf_cv.fit(X_train, Y_train)
 best_params = rf_cv.best_params_
 print(f"Best parameters: {best_params}")

Fitting 3 folds for each of 432 candidates, totalling 1296 fits
Best parameters: {'max_depth': 2, 'max_features': 'auto', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 900}

In [ ]:
rf_clf = RandomForestClassifier(**best_params)
rf_clf.fit(X_train, Y_train)

print_score(rf_clf, X_train, Y_train, X_test, Y_test, train=True)
print_score(rf_clf, X_train, Y_train, X_test, Y_test, train=False)

Train Result:
================================================
Accuracy Score: 88.02%
_______________________________________________
CLASSIFICATION REPORT:
                    0           1  accuracy   macro avg  weighted avg
precision    0.935484    0.845638  0.880165    0.890561      0.886477
recall       0.790909    0.954545  0.880165    0.872727      0.880165
f1-score     0.857143    0.896797  0.880165    0.876970      0.878772
support    110.000000  132.000000  0.880165  242.000000    242.000000
_______________________________________________
Confusion Matrix:
 [[ 87  23]
 [  6 126]]

Test Result:
================================================
Accuracy Score: 77.05%
_______________________________________________
CLASSIFICATION REPORT:
                   0          1  accuracy  macro avg  weighted avg
precision   0.769231   0.771429  0.770492   0.770330      0.770420
recall      0.714286   0.818182  0.770492   0.766234      0.770492
f1-score    0.740741   0.794118  0.770492   0.767429      0.769617
support    28.000000  33.000000  0.770492  61.000000     61.000000
_______________________________________________
Confusion Matrix:
 [[20  8]
 [ 6 27]]

In [ ]:
test_score = accuracy_score(Y_test, rf_clf.predict(X_test)) * 100
train_score = accuracy_score(Y_train, rf_clf.predict(X_train)) * 100

results_df_2 = pd.DataFrame(data=[["Tuned Random Forest Classifier", train_score, test_score]], 
                          columns=['Model', 'Training Accuracy %', 'Testing Accuracy %'])
tuning_results_df = tuning_results_df.append(results_df_2, ignore_index=True)
tuning_results_df

                            Model  Training Accuracy %  Testing Accuracy %
0       Tuned Logistic Regression            83.884298           81.967213
1  Tuned Random Forest Classifier            88.016529           77.049180

In [ ]:
prediction1 = rf_cv.predict(input_data_reshaped)
print(prediction1)

[0]

In [ ]:
if (prediction1[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

The Person does not have a Heart Disease

I think logstick model is better than randomforest according to these data

78.68852459016394

87.60330578512396

Accuracy on Training data :  0.8512396694214877

Accuracy on Test data :  0.819672131147541